:root {
  --color-1: #f1e2f3;
  --color-2: #e1cde3;
  --color-3: #a887aa;
  --color-4: #5e2a65;
  --color-5: #2c1b11;
}

/* PAGE SETUP */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, b, u, i, ol, ul, li, fieldset, form, label, legend, table {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.grid-container {
  background-color: var(--color-2);
  min-height: 100vh;
  border-left: 1rem solid var(--color-2);
  border-right: 1rem solid var(--color-2);
  display: flex;
  flex-direction: column;
}
body {
  background: repeating-linear-gradient(
    135deg,
    var(--color-1),
    var(--color-1) 15px,
    var(--color-2) 15px,
    var(--color-2) 20px
  );
}
.page-content {
  padding-bottom: 1vh;
  padding-top: 1vh;
}

/* TEXT STYLES */
p, h1, h2, h3, h4, h5, h6, body {
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--color-5);
}
h3, h4, h5, h6 {
  display: inline-block;
}
p {
  font-size: 0.9rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  padding-top: 5%;
  color: var(--color-4);
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding-top: 1%;
  color: var(--color-4);
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  padding-top: 1%;
}
h5 {
  font-size: 1rem;
  font-style: italic;
  text-align: left;
}
h6 {
  font-size: 1rem;
  font-style: italic;
  text-align: right;
}
li {
  list-style-position: inside;
  font-size: 0.9rem;
}


/* MENUS, HEADERS, & FOOTERS */
/* side menu, only used on small screens */
.full-screen-menu {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 9999;
  overflow: auto;
  transform: translateX(-100vw);
}
.full-screen-menu.is-open {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 9999;
  background: var(--color-4);
  color: var(--color-5);
  overflow: auto;
}
.close-button {
  position: absolute;
  z-index: 10;
  color: var(--color-1);
  cursor: pointer;
}
.close-button:hover, .close-button:focus {
  color: var(--color-5);
}

/* top menu, used for medium and large screens */
.nav-bar-button:hover, .nav-bar button:hover  {
  background-color: var(--color-3);
  color: var(--color-5);
}
.nav-bar li, .nav-bar div{
  background: var(--color-4);
  padding: 0 !important;
  text-align: center;
}
.nav-bar li a, .nav-bar div a{
  display: block;
  width: 100%;
  height: 100%;
  color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
}
.nav-bar li a:hover, .nav-bar div a:hover{
  color: var(--color-5);
  background-color: var(--color-3);
}
.nav-bar button {
  background: var(--color-4);
  color: var(--color-1);
  text-align: left;
}

/* header */
.header .show-for-medium, .header .show-for-small-only {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-1);
  background-color: rgb(94, 42, 101, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .show-for-small-only {
  font-size: 3rem;
}
.header .show-for-medium {
  font-size: 4rem;
}
.header {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  max-width: 1000px;
}
.header img {
  filter: grayscale(10%);
}

/* footer */
.footer {
  margin-top: auto;
}
.icons{
  background-color: var(--color-4);
}
.icons a {
  font-size: 4rem;
  color: var(--color-1);
}
.icons a:hover, .icons a:focus {
  color: var(--color-3);
}


/* PAGES */
/* resume */
.resume div {
  display: flex;
  justify-content: space-between;
}
.download {
  text-align: right;
}
.download a {
  font-size: 1.4rem;
  color: var(--color-2);
  background-color: var(--color-4);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  text-decoration: none;
}
.download a:hover, .download a:focus {
  color: var(--color-5);
  background-color: var(--color-3);
}

/* about me / courses / projects */
.about-me div div p a, 
.courses ul li a, 
.projects div div p a {
  color: var(--color-4);
  text-decoration: underline;
  cursor: pointer;
}

/* photo gallery page i.e. fun.html */
.fun-container {
  position: relative;
  overflow: hidden;
  padding: 0.625rem;
}
.fun-container:hover p {
  opacity: 1;
}
.fun-container:hover img {
  filter: grayscale(0%);
}
.fun-container:hover div {
  opacity: 0;
}
.fun-container p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-5);
  font-weight: bold;
  font-size: 0.9rem;
  text-shadow: -0.05rem -0.05rem 0 var(--color-1), 0.05rem -0.05rem 0 var(--color-1), -0.05rem 0.05rem 0 var(--color-1), 0.05rem 0.05rem 0 var(--color-1);
  text-align: center;
  display: flex;
  align-items: baseline;
  justify-content: center;
  opacity: 0;
  padding: 1rem;
}
.fun-container img {
  filter: grayscale(80%);
}
.fun-container div {
  padding: 0;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  width: calc(100% - 1.25rem);
  height: calc(100% - 1.25rem);
  background-color: var(--color-4);
  opacity: 0.2;
}